# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!.github
!README.md

# Ignore everything in the "wp-content" directory, except the "themes"
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/acf_based_custom_theme

# Ignore all plugins
/wp-content/plugins/

/vendor/
/node_modules/